body
{
    background-image: url(GNR\ UYI.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
}

header
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: black;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.tituloNav
{
display: flex;
margin-left: 550px;
gap: 10px;
}

.logo
{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: flex-start;
}

.card
{
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    justify-content: center;
    margin-left: 650px;
    margin-top: 120px;
    padding-bottom: 20px;
    border-radius: 15px;
    border-color: gray;
}

.botaoCadastro
{
    border-radius: 6%;
    padding: 10px;
}
button:hover
{
    background-color: yellow;
    color: black;
    transform: scale(1.2);
}
